<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3 align="center">Product Registration details</h3>
    <form action="/registration/" method="post">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td><input type="number" placeholder="No" name="no"> </td>
            </tr>
            <tr>
                <td><input type="text" placeholder="Name" name="na"> </td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Price" name="prc"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Quantity" name="pqty" ></td>
            </tr>
            <tr>
                <td><input type="submit" value="save"></td>
            </tr>
            <tr>
                <td>{{ message }}</td>
            </tr>
        </table>
    </form>
</body>
</html>